<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    NoteRizz 
  </title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
 
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
 
  <link href="/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />

  <link href="/demo/demo.css" rel="stylesheet" />

</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="/" class="simple-text logo-normal">
            NoteRizz
          </a>
        </div>
        <ul class="nav">
          <li class="active ">
            <a href="/studentPerf">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/notesDown">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Notes</p>
            </a>
          </li>
          <li>
            <a href="/typography">
              <i class="tim-icons icon-align-center"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="/user">
              <i class="tim-icons icon-single-02"></i>
              <p>Edit Profile</p>
            </a>
          </li>
          <li>
            <a href="/notifications">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li>
            <a href="/teachernotes">
              <i class="tim-icons icon-bell-55"></i>
              <p>Faculty Notes</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <div class="navbar-toggle d-inline">
                  <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                  </button>
                </div>
                <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
              </button>
              <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto">
                  
                  <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                      <div class="photo">
                        <img src="../assets/img/anime3.png" alt="Profile Photo">
                      </div>
                      <!-- <b class="caret d-none d-lg-block d-xl-block"></b> -->
                      <p class="d-lg-none">
                        Log out
                      </p>
                    </a>
                    <ul class="dropdown-menu dropdown-navbar">
                      
                      <li class="nav-link"><a href="/logout"  class="nav-item dropdown-item">Log out</a></li>
                    </ul>
                  </li>
                  <li class="separator d-lg-none"></li>
                </ul>
              </div>
            </div>
          </nav>
      <div class="content">
        <div class="content_block" style="padding-left: 5%; padding-right: 5%; ">

          <h2><p>Resources and PPT's</p></h2>

          NOTES UPLOADED BY FACULTY<div class="row">
            <%for (let n of notes){%>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><%=n.title%></h4>
                  <h4 class="card-text"><%=n.description%></h4>
                  <a href="<%= n.file_url %>" download>Download File</a>
                </div>
              </div>
           <%}%>
      

          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Core JS Files -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Google Maps Plugin -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!-- Notifications Plugin -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>

</body>

</html>